# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Build output
dist/
build/

# Env files
.env
*.local

# Editor files
.vscode/
.idea/
.DS_Store

# =========================
# Ignore everything by default
/*

# Allow root files
# -------------------
!README.md
!index.html
!.gitignore
!package.json
!package-lock.json
!vite.config.js
!tailwind.config.js


# Allow src folder
!src/

# Ignore everything inside src
src/*
!src/index.css
!src/main.jsx
!src/output.css

# ✅ Allow ONLY redux folder
!src/redux/

# ✅ Allow EVERYTHING inside redux
!src/redux/**
